@import "./index.scss";

* {
  font-family: Roboto;
  overflow-x: hidden;
}

body {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

a,
p,
span {
  color: #3d3d3d;
  text-decoration: none;
}
